<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1.0">
        <title>Local Business?</title>
        <link rel=stylesheet href=global.css>
    </head>
    <body>
        <div id=info class=header>
            <h1><a href=https://github.com/premasagar/localbusiness>Local Business?</a></h1>
            <p>Showing the location of the companies paid by <a href=http://redbridge.gov.uk>Redbridge council</a> (2008 - 2011).<br>
                Zoom out to see the full picture. Click markers for info on each company's services.</p>
            <p><strong>Built by</strong>: <a href=http://twitter.com/symroe>@symroe</a> and <a href=http://twitter.com/premasagar>@premasagar</a>.<br>
            <strong>Built with</strong>: <a href=http://data.redbridge.gov.uk/View/finance/payments-over-500>Redbridge council data</a>, <a href=http://opencorporates.com>Open Corporates</a>, <a href=http://mapit.mysociety.org>MySociety's MaPit</a>, <a href=http://code.google.com/p/google-refine/>Google Refine</a> & <a href=http://code.google.com/apis/maps/documentation/javascript/>Google Maps</a>.</p>
            <p><a id=closeinfo>(close this box)</a></p>
        </div>
                
        <div id=map></div>
        
	    <a href=http://github.com/premasagar/localbusiness title="Local Business, on GitHub"><img style="position: absolute; top: 0; right: 0; border: 0;" src=http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png alt="Fork me on GitHub" /></a>
	
            
        <!-- MICRO-TEMPLATES -->
        <script type=text/tim class=template-infowindow>
            <div class=infowindow>
                <h2><a href="http://opencorporates.com/companies/gb/{{company_reg}}">{{supplier}}</a></h2>
                <p>{{oc_description}}</p>
                
                <p>The council paid <strong>£{{amount}}</strong></p>
                <ul>
                {{meta}}
                    <li><strong>{{_key}}</strong>: {{_content}}</li>
                {{/meta}}
                </ul>
                
                <p>{{oc_address}}</p>
            </div>
        </script>
        
        <!-- DEV -->
        <script>
            // Console logging for debugging
            function O(){
                console.log.apply(console, arguments);
            }
        </script>
        
        <!-- External project scripts -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src=vendor/underscore-min.js></script>
        <script src=vendor/tim.min.js></script>
        
        <!-- Project scripts -->
        <script src=data/redbridge-payments.js></script>
        <script src=localbusiness.js></script>
    </body>
</html>
